$theme-colors: (
  primary: #0278cd,
  secondary: #32333D,
  header: #6A6D81,
  third: #575A6A,
  fourth: #2E2F37,
  text: #A1A3B4,
  light: #eee,
  loader: #cecece,
);
$headers-size: (
  h1: 4rem,
  h2: 3.5rem
);

@import "node_modules/bootstrap/scss/bootstrap";

:root {
  font-size: 10px;
  --gradient: linear-gradient(135deg, rgba(2,120,205,1), rgba(16,152,161,1));
}

:root, body, #root {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  flex-wrap: wrap;
}

@each $header, $size in $headers-size {
  #{$header} {
    font-size: $size;
  }
}

a {
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--text); 
  transition: color .3s;
  user-select: none;
  &:hover {
    color: var(--primary);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.main {
  height: calc( 100% - 60px );
  width: calc( 100% - 70px );
  overflow: hidden;
}
.messages {
  height: 50%;
}
body {
  background: var(--secondary);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ratio {
  position: relative;
  width: 100%;
  &--1x1 {
    padding-top: 100%;
  }
  &__inside {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.loader {
  &__bg {
    background: map-get($theme-colors, gray);
  }
  &__bgAnim {
    animation: loaderBgAnim 2s ease-in-out infinite both;
  }
}

@keyframes loaderBgAnim {
  0% {
    background: map-get($theme-colors, gray-dark )
  }
  30% {
    background: map-get($theme-colors, gray )
  }
  70% {
    background: map-get($theme-colors, gray )
  }
  100% {
    background: map-get($theme-colors, gray-dark )
  }
}